apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-service-prometheus
  labels:
    app: rabbitmq
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "15692"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector:
    app: rabbitmq
  ports:
  - name: prometheus
    port: 15692
    targetPort: 15692
