.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--accent);
    color: black;

    & > div {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    width: 100%;
    max-width: 512px;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    border-radius: 10px;
    width: 80%;
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
        0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.1);

    & > label {
        margin: 5px;
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
    }
}


.error {
    color: red;
    font-weight: bold;
    height: 30px;
    display: flex;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.input {
    color: var(--accent);
    padding: 10px;
    flex: 1;
    border-radius: 5px;
    border: 1px solid var(--accent);
}

.visibility {
    position: absolute;
    right: 7px;
    z-index: 100;
    cursor: pointer;
}

.submit {
    padding: 10px;
    flex: 1;
    background: var(--accent);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.loading {
    background: gray;
    cursor: default;
}


.no-account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;

    & a {
        text-decoration: none;
        color: var(--link-color);
    }
}


/*

.login-card {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    color: black;
}

.text-input {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 1rem;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 25px;
}

.text-input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
    outline: none;
}

.submit-button {
    width: 100%;
    padding: 14px 16px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #166fe5;
}

.toggleContainer {
    max-width: fit-content;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.toggleCheckbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.toggleLabel {
    font-size: 0.9rem;
    cursor: pointer;
} */

