apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
  labels:
    app: {{ .Values.app.name }}
spec:
  replicas: {{ .Values.app.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
    spec:
      containers:
      - name: leaderboard
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        ports:
        - containerPort: 3005
        env:
          - name: PG_HOST
            value: postgres
          - name: PG_DATABASE
            value: postgres
          - name: PG_PORT
            value: "5432"
          - name: PG_USER
            value: admin
          - name: PG_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: password