apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: game-servers
  name: pod-creator
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["create", "get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: pod-creator-binding
  namespace: game-servers
subjects:
- kind: ServiceAccount
  name: default
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: pod-creator
  apiGroup: rbac.authorization.k8s.io
