apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: cors
  namespace: game-servers
spec:
  headers:
    accessControlAllowOriginList:
      - "https://game.ltu-m7011e-1.se"   # your frontend origin
      - "http://localhost:5173"            # optional dev origin
    accessControlAllowMethods:
      - GET
      - POST
      - OPTIONS
    accessControlAllowHeaders:
      - "*"
    accessControlAllowCredentials: true
    accessControlMaxAge: 600
